*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem; 
height: 100vh;
background-color: rgb(11, 235, 67);
}

.button{ 
    display: flex;
    gap: 2rem;
}

.button1,.button2{
    border: 1px solid ;
    border-radius: 1rem; 
    padding:8px 45px;
    background-color: aqua;
    cursor: pointer; 

}

h2{
    color: #ffff; 
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.copyCode{
    border-left: 5px solid white;
    padding: 2rem 4rem;
    border-radius: 15px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);  
    cursor: pointer;
}

.copyCode:hover::after{
    font-family: FontAwesome; 
    content: "\f328";
    position: fixed; 
    left: 95%;  
    top: 10%;
   
}